<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harelmallac.edendale">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:screenOrientation="portrait" android:name=".AdminCreateOrderLinesProductActivity"></activity>
        <activity android:screenOrientation="portrait" android:name=".AdminCreateOrderLinesActivity" />
        <activity android:screenOrientation="portrait" android:name=".AdminCreateOrderDetailsActivity" />
        <activity android:screenOrientation="portrait" android:name=".AdminSalesReportActivity" />
        <activity android:screenOrientation="portrait" android:name=".AdminCreateOrderActivity" />
        <activity android:screenOrientation="portrait" android:name=".AdminSearchRejectedOrderActivity" />
        <activity android:screenOrientation="portrait" android:name=".SearchInvoiceActivity" />
        <activity android:screenOrientation="portrait" android:name=".AdminStockTakeMainPageActivity" />
        <activity android:screenOrientation="portrait" android:name=".AdminStockTakeActivity" />
        <activity android:screenOrientation="portrait" android:name=".SearchInvoiceCancelActivity" />
        <activity android:screenOrientation="portrait" android:name=".SplashActivity" />
        <activity android:screenOrientation="portrait" android:name=".SearchInvoicePreviewPageActivity" />
        <activity android:screenOrientation="portrait" android:name=".StockRequestActivity" />
        <activity android:screenOrientation="portrait" android:name=".AdminSearchOrderActivity" />
        <activity android:screenOrientation="portrait" android:name=".DailySalesReportActivity" />
        <activity android:screenOrientation="portrait" android:name=".DayEndSummaryActivity" />
        <activity android:screenOrientation="portrait" android:name=".RemittanceActivity" />
        <activity android:screenOrientation="portrait" android:name=".CurrentStockReportActivity" />
        <activity android:screenOrientation="portrait" android:name=".ChequeReportActivity" />
        <activity android:screenOrientation="portrait" android:name=".MenuActivity" />
        <activity android:screenOrientation="portrait" android:name=".CreateInvoiceLinesActivity" />
        <activity android:screenOrientation="portrait" android:name=".CreateInvoiceInfoPageActivity" />
        <activity android:screenOrientation="portrait" android:name=".ComplaintFormActivity" />
        <activity android:screenOrientation="portrait" android:name=".ComplaintDescriptionActivity" />
        <activity android:screenOrientation="portrait" android:name=".ComplaintProductActivity" />
        <activity android:screenOrientation="portrait" android:name=".ReportActivity" />
        <activity android:screenOrientation="portrait" android:name=".AdminComplaintActivity" />
        <activity android:screenOrientation="portrait" android:name=".CreateInvoiceActivity" />
        <activity android:screenOrientation="portrait" android:name=".MainActivity" />
        <activity android:screenOrientation="portrait" android:name=".ReceiptPrintActivity" />
        <activity android:screenOrientation="portrait" android:name=".CreateInvoiceListOfItemsActivity" />
        <activity android:screenOrientation="portrait" android:name=".StockRequestProductListActivity" />
        <activity android:screenOrientation="portrait" android:name=".RemittancePreviewActivity" />
        <activity  android:screenOrientation="portrait" android:name=".Menu2Activity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>